{% extends 'access_site/base.html' %}

{% block content %}
    
    <style>
        .input-border {
        border: 2px solid #ccc;
        border-radius: 4px;
        padding: 8px;
        width: 100%; 
        box-sizing: border-box;
    }
    </style>

  <div class="flex-grow container max-w-4xl mx-auto p-8 bg-white shadow-xl rounded-2xl mt-10">
    <h2 class="text-3xl font-semibold mb-4">部会開催日の変更</h2>

    <form method="post"  class="flex-col bg-white p-6 shadow-md rounded-lg">
      {% csrf_token %}

      <div class="mb-4">
        <label class="justify-center text-gray-700">定期開催日:</label>
        {{ form.schedule }} 
      </div>

      <div class="mb-4 text-red-500">
        {{ error }} 
      </div>
      

      <!-- Center the button -->
      <div class="flex justify-center mt-10">
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
          更新
        </button>

        <a href="{% url 'dash_board' %}" class="ml-20 bg-green-400 text-white px-4 py-2 rounded hover:bg-blue-400">キャンセル</a>
      </div>
    </form>
  </div>
{% endblock %}
